* {
  font-family: 'Roboto Mono', monospace;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.title {
  background: linear-gradient(to bottom, #314755, #26a0da);
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  color: #fff;
  font-family: 'Roboto Mono';
  font-weight: 900;
  font-size: 5rem;
  border: 0.5rem solid #fff;
  padding: 2rem;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav {
  background-color: #0072a8;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 1rem 0;
}

nav ul li a {
  color: #26a0da;
  font-family: 'Roboto Mono';
  padding: 0.3rem 1rem;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #fff;
  transition: background-color 0.2s ease;
}

nav ul li a:hover {
  background-color: #26a0da;
  color: #fff;
}

.welcome {
  width: 70%;
  padding: 2rem;
  text-align: center;
  margin: 0 auto;
}

.welcome span {
  color: #26a0da;
  font-family: 'Roboto Mono';
  font-weight: 900;
}

.all-posts-link, .new-post-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5rem;
}

.links a {
  padding: 1rem;
  margin-top: 2rem;
  color: #fff;
  font-family: 'Roboto Mono';
  font-weight: 700;
  text-transform: uppercase;
  background-color: #26a0da;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.links a:hover {
  background-color: #0072a8;
  color: #fff;
}

#posts-list {
  margin: 0 auto;
  padding: 2rem;
  width: 80%;
}

#posts-list h3 {
  color: #26a0da;
  font-family: 'Roboto Mono';
  font-weight: 700;
  font-size: 1.5rem;
}

#posts-list span {
  color: #000;
  font-size: 0.7rem;
}

#posts-list p {
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  border-bottom: 1px solid #000;
}

.creation-post {
  width: 600px;
  margin: 0 auto;
}

.creation-post h2 {
  color: #26a0da;
  font-family: 'Roboto Mono';
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
}

.creation-post form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.creation-post label {
  padding: 1rem 0 0.5rem 0;
  font-weight: 900;
  text-transform: uppercase;
  align-self: flex-start;
  font-family: 'Roboto Mono';
}

.creation-post input, textarea {
  border: 1px solid #26a0da;
  padding:1rem;
  width: 100%;
}

textarea {
  height: 6rem;
}

.creation-post input:last-child {
  margin-top: 1rem;
  width: 50%;
  background-color: #0072a8;
  border-radius: 5px;
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: unset;
}
